/*************************global styles***************************/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: white;
    background: #ffcc00;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
img {
    max-width: 50%;
}
